[Unit]
Description=SparkHacks Discord Bot
After=network-online.target

[Service]
Restart=always

User=your-username

WorkingDirectory=/path/to/your/spark-hacks-bot
ExecStart=/path/to/your/bin/python main.py

[Install]
WantedBy=multi-user.target